In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("EmployeeDataAnalysis") \
.getOrCreate()

In [0]:
df = spark.read.option("header", True).option("inferSchema",
True).csv("/Volumes/workspace/default/wellitwas")
df.show()

+---+-------+-----------+------+
| ID|   Name| Department|Salary|
+---+-------+-----------+------+
|  1|  Alice|Engineering| 75000|
|  2|    Bob|  Marketing| 65000|
|  3|Charlie|      Sales| 55000|
|  4|  David|Engineering| 80000|
|  5|    Eve|      Sales| 60000|
+---+-------+-----------+------+

In [0]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
df.groupBy("Department").avg("Salary").show()

+-----------+-----------+
| Department|avg(Salary)|
+-----------+-----------+
|      Sales|    57500.0|
|  Marketing|    65000.0|
|Engineering|    77500.0|
+-----------+-----------+

In [0]:
df = df.withColumn("Bonus", df.Salary * 0.10)
df.show()

+---+-------+-----------+------+------+
| ID|   Name| Department|Salary| Bonus|
+---+-------+-----------+------+------+
|  1|  Alice|Engineering| 75000|7500.0|
|  2|    Bob|  Marketing| 65000|6500.0|
|  3|Charlie|      Sales| 55000|5500.0|
|  4|  David|Engineering| 80000|8000.0|
|  5|    Eve|      Sales| 60000|6000.0|
+---+-------+-----------+------+------+

In [0]:
df.filter(df.Salary > 70000).show()

+---+-----+-----------+------+------+
| ID| Name| Department|Salary| Bonus|
+---+-----+-----------+------+------+
|  1|Alice|Engineering| 75000|7500.0|
|  4|David|Engineering| 80000|8000.0|
+---+-----+-----------+------+------+

In [0]:
df.groupBy("Department").avg("Salary").display()

Department,avg(Salary)
Sales,57500.0
Marketing,65000.0
Engineering,77500.0